<ion-header [translucent]="true">
  <ion-button>
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-button>
  <ion-toolbar>
    <ion-title>Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">driver</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-list>
  <ion-item>
    <ion-input labelPlacement="floating" value="hi@ionic.io">
      <div slot="label">Patente <ion-text color="danger">(Obligatorio)</ion-text></div>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="floating" value="hi@ionic.io">
      <div slot="label">Marca <ion-text color="danger">(Obligatorio)</ion-text></div>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="floating" value="hi@ionic.io">
      <div slot="label">Color <ion-text color="danger">(Obligatorio)</ion-text></div>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="floating" value="hi@ionic.io">
      <div slot="label">Modelo <ion-text color="danger">(Obligatorio)</ion-text></div>
    </ion-input>
  </ion-item>
</ion-list>
<div>
  
</div>
