<ion-card class="header">
  <ion-searchbar disabled="true" placeholder="Pronto..."></ion-searchbar>
  <ion-card-header>
    <ion-card-title>Revisa tu correo electrónico</ion-card-title>
    <ion-card-subtitle>TeLlevoApp 🚗</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    No olvides revisar en la sección de spam
  </ion-card-content>

  <ion-button id="click-trigger">Verificar</ion-button>
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Contraseña cambiada exitosamente</ion-content>
  </ng-template>
</ion-popover>
  <ion-button fill="clear">Re-enviar correo</ion-button>
</ion-card>
